*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html,body{
	height: 100%;
}
.clear{
	clear: both;
}

.container{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.logo img{
	float: left;
	width: 236px;
}

header{
	padding: 20px 2%;
}

header nav.menu-mobile{
	display: none;
}

header nav.menu-desktop{
	float: right;
}

header nav.menu-desktop ul{
	list-style-type: none;
}

header nav.menu-desktop ul li{
	float: left;
	font-size: 13px;
	padding: 0 20px;
	text-transform: uppercase;
}

header ul li a{
	color: #b4b4b4;
	text-decoration: none;
}

.mosaico-single{
	float: left;
	width: calc(100% / 6);
}

.img-mosaico-single{
	width: 100%;
	padding-top: 100%;
	background: #ccc;
	border: 5px solid white;
}

section.servicos > .container{
	max-width: 800px;
	display: flex;
	align-items: center;
	position: relative;
	top: -20px;
	text-align: center;
}

section.servicos > .container .box-servicos{
	background-image: url('../imagens/icone_dente.png');
	background-size: 18px 18px;
	background-position: center calc(100% - 5px);
	background-repeat: no-repeat;
}

section.servicos .container .box-servicos h2{
	font-size: 15px;
	font-weight: normal;
	text-transform: uppercase;
	color: white;
}

section.servicos .container .box-servicos p{
	color: white;
	margin-top: 8px;
	font-weight: normal;
	font-size: 12px;
}

section.servicos .container .box-servicos:nth-of-type(1){
	width: 30%;
	padding: 30px 0;
	background-color: #576975;
}

section.servicos .container .box-servicos:nth-of-type(2){
	width: 40%;
	padding: 60px 0;
	background-color: #688293;
	background-image: none;
}

section.servicos .container .box-servicos:nth-of-type(3){
	width: 30%;
	padding: 30px 0;
	background-color: #576975;
}

section.perfil-container{
	padding: 40px 0;
}

section.perfil-container .container .perfil-wraper{
	height: 60%;
}

section.perfil-container .container{
	max-width: 800px;
} 

section.perfil-container .perfil-wraper2{
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

section.perfil-container .img-perfil{
	width: 40%;
	height: auto;
	padding-top: 60%;
	background-image: url('../imagens/img_perfil.png');
	background-size: 100% 100%;
}

section.perfil-container .texto-perfil{
	width: 60%;
	padding: 0 30px;
}

section.perfil-container .texto-perfil h2{
	font-size: 18px;
	color: #698293;
}

section.perfil-container .texto-perfil p{
	color: #4b4b4b;
	font-size: 14px;
	margin-top: 8px;
}

section.videos{
	padding: 50px 0;
}

section.videos .box-video{
	float: left;
	width: 33.3%;
	border: 5px solid white;
	padding-top: calc(33.3% * 0.6);
	position: relative;
}

section.videos iframe{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

section.tratamentos .tratamentos-container{
	float: left;
	width: 33.3%;
}

section.tratamentos .tratamentos-container .tratamentos-single{
	padding: 20px 0;
}

.tratamentos-single h2{
	font-size: 18px;
	color: #737373;
}

.tratamentos-single p{
	font-size: 13px;
	color: #b4b4b4;
	padding: 10px 0;
}

section.tratamentos > h2{
	text-align: center;
	font-size: 18px;
	color: #698293;
}

section.tratamentos .container{
	padding: 50px 0;
}


section.depoimentos > h2{
	color: #698293;
	text-align: center;
	font-size: 18px;
}

section.depoimentos > .container{
	padding: 70px 0;
	text-align: center;
	max-width: 400px;
}

section.depoimentos .depoimentos-single{
	text-align: center;
	width: 100%;
	padding: 0 2%;
}

.depoimentos-single quote{
	font-size: 15px;
	color: #b4b4b4;
}

.depoimentos-single .nome-depoimento{
	padding: 19px 0;
}

.depoimentos-single img{
	width: 32px;
	height: 32px;
	border-radius: 16px;
}

.nome-depoimento span{
	font-size: 13px;
	color: #b4b4b4;
	display: inline-block;
	vertical-align: top;
}

.instagram-chamada{
	float: left;
	width: 100%;
	text-align: center;
	padding: 40px 0;
	background: #98a5ae;
}

.instagram-chamada p{
	color: white;
	padding: 10px 0;
	font-size: 13px;
	line-height: 23px;
}

.mosaico-social{
	float: left;
	width: 100%;
}

.img-mosaico-single-social{
	float: left;
	width: calc(100% / 9);
	padding-top: calc(100% / 9);
	background-color: blue;
	border: 6px solid white;
}

.facebook-chamada{
	float: left;
	width: 100%;
	text-align: center;
	padding: 40px 0;
	background: #576975;
}

.facebook-chamada p{
	color: white;
	padding: 10px 0;
	font-size: 13px;
	line-height: 23px;
}

section.contato{
	padding: 60px 0;
	background: rgb(235,235,235);
}

section.contato h2{
	color: #698293;
	text-align: center;
	font-size: 18px;
}

section.contato form{
	width: 100%;
	max-width: 500px;
	margin: 30px auto;

}

.form-wraper{
	float: left;
	margin-top: 10px;
	padding: 0 10px;

}

.w100{
	width: 100%;
}

.w50{
	width: 50%;
}

.form-wraper span{
	font-size: 13px;
	color: #b4b4b4;
}

.form-wraper input[type=text]{
	width: 100%;
	height: 35px;
	line-height: 35px;
	padding-left: 9px;
	border: 1px solid #dadada;
	margin-top: 8px;
}

.form-wraper textarea{
	width: 100%;
	padding: 15px;
	height: 121px;
	resize: none;
	border: 1px solid #dadada;
	margin-top: 8px;
}

.form-wraper input[type=submit]{
	width: 100px;
	height: 35px;
	border: none;
	cursor: pointer;
	background: #688293;
	color: white;
	display: inline-block;
}

footer{
	padding: 40px 0;
	background-color: #688293;
}

footer .container{
	max-width: 1100px;
}

footer .footer-block{
	float: left;
	width: 33.3%;
}

footer h2{
	color: white;
	font-size: 18px;
}

footer p{
	color: white;
	font-size: 12px;
	margin-top: 8px;
}
@media screen and (max-width: 1024px){
		.img-mosaico-single-social{
			width: calc(100% / 6);
			padding-top: calc(100% / 6);
	}

	.img-mosaico-single-social:nth-of-type(1n+7){
		display: none;
	}
}

@media screen and (max-width: 768px){
	
	header nav.menu-desktop{
		display: none;
		float: none;
	}

	header nav.menu-mobile{
		margin-top: 5px;
		display: block;
		float: right;
		width: 28px;
		height: 28px;
		background-image: url('../imagens/menu-mobile.png');
		background-size: 100% 100%;
		cursor: pointer;
	}

	nav.menu-mobile ul{
		background-color: white;
		position: absolute;
		left: 0;
		top: 60px;
		text-align: center;
		width: 100%;
	}

	nav.menu-mobile ul li{
		padding: 10px 0;
		text-transform: uppercase;
	}

	section.servicos > .container{
		flex-direction: column;
	}

	section.servicos .container .box-servicos:nth-of-type(1){
	width: 90%;
	max-width: 350px;
	padding: 50px 2%;
}

	section.servicos .container .box-servicos:nth-of-type(2){
		width: 94%;
		max-width: 380px;
		padding: 40px 2%;
	}

	section.servicos .container .box-servicos:nth-of-type(3){
		width: 90%;
		max-width: 350px;
		padding: 50px 2%;
	}

	section.perfil-container .perfil-wraper2{
		display: inline-block;
		text-align: center;
	}

	section.perfil-container .img-perfil{
		width: 50%;
		height: auto;
		display: inline-block;
		padding-top: 70%;
	}
	section.perfil-container .texto-perfil{
		display: inline-block;
		width: 100%;
		padding: 0 30px;
		text-align: justify;
	}

	section.videos{
		text-align: center;
	}

	section.videos .box-video{
		float: none;
		width: 70%;
		border: 5px solid white;
		padding-top: calc(70% * 0.6);
		position: relative;
		display: inline-block;
}

	section.videos iframe{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.img-mosaico-single-social{
			width: calc(100% / 3);
			padding-top: calc(100% / 3);
	}

	.img-mosaico-single-social:nth-of-type(1n+4){
		display: none;
	}

	footer{
		text-align: center;
	}

	footer .footer-block{
		float: none;
		width: 100%;
		margin: 30px 0;
	}
}

@media screen and (max-width: 580px){
	section.perfil-container .img-perfil{
		width: 80%;
		padding-top: 110%;
	}

	section.videos .box-video{
		float: none;
		width: 100%;
		border: 5px solid white;
		padding-top: calc(70% * 0.6);
		position: relative;
		display: inline-block;
	}

	.w50{
		width: 100%;
	}
}

@media screen and (max-width: 480px){
	.logo img{
		float: left;
		width: 170px;
	}
}
